*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

button, .button {
	font-size: 1em;
	padding: 10px;
	background-color: aquamarine;
	color:rgb(50, 50, 50);
	font-weight: bold;
	border-radius: 5px;
	border: none;
	display: inline;
}

input {
	font-size: 1em;
	padding: 10px;
  display: inline;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid grey;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

label{
  margin-right: 10px;;
  font-weight: bold;
}

select {
	font-size: 1em;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
  border: 1px solid grey;
  margin-top: 100px;
}

.inline {
	display: inline;
}

.table {
	border: 1px solid grey;
	padding: .5rem;
	margin: 1rem;
}

.containerCategory{
  margin-top: 5rem;
  width: 26%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.containerCategory h2, .containerProduct h2{
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
}

.containerProduct{
  margin-top: 5rem;
  width: 70%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.formAddCategory{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formAddCategory input{
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}

.formAddCategory button{
  width: 100%;
}

.formAddProducts{
  width: 100%;
}

.wrapperForm1, .wrapperForm2, .wrapperForm3{
  width: 32%;
  float: left;
}

.wrapperForm2{
  margin-left: 2%;
  margin-right: 2%;
}

.formAddProducts input{
  width: 100%;
}

.formAddProducts button{
  width: 100%;
  background-color: rgb(50, 50, 50);
	color: aquamarine;
}

.formAddProducts button:hover{
  width: 100%;
  background-color: aquamarine;
	color: rgb(50, 50, 50);
}

.tableProducts, .tableCategory {
  width: 100%;
	border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  margin-top: 0%;
  padding: 2%;
}

.tableProducts button, .tableCategory button{
  margin-left: 10px;;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image {
	width: 100px;
}

.wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.categorySelect{
  font-size: 1rem;
  background-color: rgb(243,243,243);
  width: 100%;
  font-size: 1em;
  padding: 10px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.catalogSelect{
  font-size: 1rem;
  min-width: 250px;
  background-color: rgb(243,243,243);
  width: 18%;
  font-size: 1em;
  padding: 10px;
  margin: 1%;
  margin-top: 3.5%;;
}

.catalogo{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.shopSection{
 background-color: aquamarine;
}

.Product{
  width: 18%;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid grey;
  float: left;
  margin: 1%;

}

.Product img{
  background-color:rgb(50, 50, 50);
  text-align: center;
  width: 90%;
  margin: 5%;
  border-radius: 5px;
  mask-image: initial;
}

.Product h2{
  width: 90%;
  margin: 1% 5%;
  font-size: 2rem;
}

.Product p{
  width: 90%;
  margin: 1% 5%;
}

.Product h4{
  width: 90%;
  margin: 1% 5%;
}

.Product button{
  background-color: rgb(50, 50, 50);
	color: aquamarine;
  width: 90%;
  margin: 5%;
  position: relative;
}

.Product button:hover{
  background-color: aquamarine;
  color:rgb(50, 50, 50);
  width: 90%;
  margin: 5%;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.selectCategory {
  margin: 0;
  background-color: whitesmoke;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.dropDown{
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: -11px;
  margin-bottom: 10px;
  z-index: 2;
  position: absolute;
  width: 22.4%;
  padding: 10px;
  box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.4);
}

.formAddProducts input{
  margin-top: 5px;
  margin-bottom: 10px;
}

.checkLabel{
  display: block;
  font-weight: none;
}

.checkLabel input{
  width: 10%;
  display: inline;
}

.orderTable{
  z-index: 3;
  padding: 50px;
  width: 100%;
}

.loginScreen, .formUserScreen{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}

.loginScreen .wrapper{
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.loginScreen .wrapper form{
  display: flex;
  flex-direction: column;
}

.loginScreen label, .loginScreen input, .loginScreen button, .loginScreen h2{
  margin: 5px;
  width: 400px;
}

.buttonGrey{
  background-color: rgb(50, 50, 50);
	color: aquamarine;
}

.buttonGrey:hover{
  background-color: aquamarine;
	color: rgb(50, 50, 50);
}

.formUserScreen {
 background-color: rgb(60, 60, 60);
}

.formUserScreen .wrapper{
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.formUserScreen .wrapper form{
  display: flex;
  flex-direction: column;
}

.formUserScreen label, .formUserScreen input, .formUserScreen button, .formUserScreen h2{
  margin: 5px;
  width: 400px;
}

.formUserScreen h4, .loginScreen h3{
  margin: 5px;
  margin-top: 25px;
  padding-top: 25px;
  width: 400px;
  color: rgb(50,50,50);
  border-top: 1px solid rgb(50, 50, 50);
}

.buttonGreyBorder{
  background-color: whitesmoke;
  color:rgb(50, 50, 50);
  border: 1px solid rgb(50, 50, 50);
  width: 100%;
  margin: 5px;
  text-align: center;
}

.buttonGreyBorder:hover{
  background-color: rgb(50, 50, 50);
  color:whitesmoke;
}

.cartContainer{
  padding-top: 10%;
}
.detailScreen {
  display: flex;
  padding: 50px 50px 0 50px;
  width: 100%;
}
.productoDetail{
  width: 100%;
  padding: 50px;
}
.details{
  display: flex;
  justify-content: center;
}
.detailsInfo{
  margin-left: 50px;
}
.detailsInfo h2{
  font-size: 2.5em;
}
.detailsInfo h4, .detailsInfo p{
  font-size: 1em;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
}
.detailsInfo button{
  margin-top: 10px;
}
.productoDetail img{
  width: 50%;
  border-radius: 5px;;
}
.formReview{
  background-color: rgb(50, 50, 50);
  width: 25%;
  float: left;
  position: absolute;
  top: 400px;
  right: 130px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke
}
.formReview input{
  margin-top: 10px;
  border: none;
}

.formReview button{
  margin-top: 10px;
}
.detailsReview{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(50, 50, 50);
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}
.review{
  margin: 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  color: whitesmoke;
  width: 18%;
}

.review h2{
  text-decoration: underline;
  color: aquamarine
}
.review p{
  margin-top: 10px;
}
.estrella{
  border-top: 1px solid grey;
  padding-top: 10px;
}
.productOrder{
  background-color: blue;
}